{% load VSAuthorizer %}
{% load static %}
<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
        <meta http-equiv="Pragma" content="no-cache"/>
        <meta http-equiv="Expires" content="0"/>
        <link rel="stylesheet" href="{% static 'vs/css/volsched.css' %}"/>
        <script src="{% static 'vs/scripts/volsched.js' %}" defer></script>
        <script src="{% static 'vs/scripts/ts_picker.js' %}" defer></script>
        <script src="{% static 'vs/scripts/date.js' %}" defer></script>
        <title>{{ title }}</title>
    </head>

    <body onload="loaded();">
        <table width="100%" height="100%" border="5">
            <tr height="5%">
                <td class="header" colspan="2" align="center">
                    {{ title }}
                    <table class="max">
                        <tr class="max">
                            <td class="headerLeft"> 
                                <form action='/vs/logout/' method=''>
                                {% csrf_token %}
                                    <input type="submit" value='Logout'/>
                                </form>
                            </td>
                            <td>&nbsp;</td>
                            <td class="headerCenterLeftAligned">
                                {{breadCrumbs}}
                            </td>
                            <td class="headerRight">
                                <a href={{help}}>Help
                            </td>
                        </tr></table>
                </td></tr>
            <tr height="85%" valign="top">
            	<td class="menu">
                    <h1>Menu</h1>
                        <table>
                              {% VSAuthorizer _type='HOME' %}
                                  <tr><td>
                                          <a
                                              id="homeLink"
                                              class="mainMenu" 
                                              href="/vs/home/">
                                              Home
                                          </a>
                                      </td></tr>
                              {% VSAuthorizer_end %}
                              {% VSAuthorizer _type=VIEW_ORGANIZATIONS %}
                                  <tr><td>
                                          <a
                                              id="organizationLink"
                                              class="mainMenu" 
                                              href="/vs/organizations">
                                              Organizations
                                          </a>
                                      </td></tr>
                              {% VSAuthorizer_end %}
                              {% VSAuthorizer _type=VIEW_PROJECTS %} 
                                  <tr><td>
                                          <a
                                              id="projectsListink"
                                              class="mainMenu" 
                                              href="/vs/projects">
                                              Projects
                                          </a>
                                      </td></tr>
                              {%VSAuthorizer_end%}
                              {% VSAuthorizer _type=VIEW_SCHEDULES %} 
                                  <tr><td>
                                          <a
                                              id="schedulesLink"
                                              class="mainMenu" 
                                              href="/vs/schedules">
                                              Schedules
                                          </a>
                                      </td></tr>
                              {%VSAuthorizer_end%}
                              {% VSAuthorizer _type=VIEW_LOCATIONS %} 
                                  <tr><td>
                                          <a
                                              id="locationsLink"
                                              class="mainMenu" 
                                              href="/vs/locations">
                                              Locations
                                          </a>
                                      </td></tr>
                              {%VSAuthorizer_end%}
                              {% VSAuthorizer _type=VIEW_RESOURCES %} 
                                  <tr><td>
                                          <a
                                              id="resourcesLink"
                                              class="mainMenu" 
                                              href="/vs/resources">
                                              Resources
                                          </a>
                                      </td></tr>
                              {%VSAuthorizer_end%}
                              {% VSAuthorizer _type=VIEW_EVENTS %} 
                                  <tr><td>
                                          <a
                                              id="eventsLink"
                                              class="mainMenu" 
                                              href="/vs/events">
                                              Events
                                          </a>
                                      </td></tr>
                              {%VSAuthorizer_end%}
                              {% VSAuthorizer _type=VIEW_HOUSEHOLDS %} 
                                  <tr><td>
                                          <a
                                              id="householdsLink"
                                              class="mainMenu" 
                                              href="/vs/households"">
                                              Households
                                          </a>
                                      </td></tr>
                              {%VSAuthorizer_end%}
                              {% VSAuthorizer _type=VIEW_VOLUNTEERS %} 
                                  <tr><td>
                                          <a
                                              id="volunteersLink"
                                              class="mainMenu" 
                                              href="/vs/volunteers">
                                              Volunteers
                                          </a>
                                      </td></tr>
                              {%VSAuthorizer_end%}
                              {% VSAuthorizer _type=VIEW_SKILLS %} 
                                  <tr><td>
                                          <a
                                              id="skillsLink"
                                              class="mainMenu" 
                                              href="/vs/skills">
                                              Skills
                                          </a>
                                      </td></tr>
                              {%VSAuthorizer_end%}
                              {% VSAuthorizer _type=VIEW_REPORTS %} 
                                  <tr><td>
                                          <a
                                              id="reportsLink"
                                              class="mainMenu" 
                                              href="/vs/reports">
                                              Reports
                                          </a>
                                      </td></tr>
                              {%VSAuthorizer_end%}
                              {% VSAuthorizer _type=VIEW_JOB_ASSIGNMENTS %} 
                                  <tr><td>
                                          <a
                                              id="assignmentsLink"
                                              class="mainMenu" 
                                              href="/vs/assignments">
                                              Assignments
                                          </a>
                                      </td></tr>
                              {%VSAuthorizer_end%}
                              {% VSAuthorizer _type=UTILITIES %} 
                                  <tr><td>
                                          <a
                                              id="utilitiesLink"
                                              class="mainMenu" 
                                              href="/vs/utilities">
                                              Utilities
                                          </a>
                                      </td></tr>
                              {%VSAuthorizer_end%}        
                            <tr height="5px;"><td>&nbsp;</td></tr>
                                {% VSAuthorizer _type=HOME %} 
                                <tr><td>
                                        <a
                                            id="passwordChangeLink"
                                            class="mainMenuSmall" 
                                            href="/vs/passwordChange">
                                            Change Password
                                        </a>
                                    </td></tr>
                                {%VSAuthorizer_end%}
                        </table>
                </td>
                <td class="body">{{ slot }}</td></tr>
            <tr height="5%"><td class="footer" colspan="2">
                    <hr/>
                </td></tr>
        </table>
    </body>
</html>
