{% load static %}
<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
        <meta http-equiv="Pragma" content="no-cache"/>
        <meta http-equiv="Expires" content="0"/>
        <link rel="stylesheet" href="{% static 'vs/css/volsched.css' %}"/>
        <script src="{% static 'vs/scripts/volsched.js' %}" defer/>
        <script src="{% static 'vs/scripts/ts_picker.js' %}" defer/>
        <script src="{% static 'vs/scripts/date.js' %}" defer/>
        <title>{{ title }}</title>
    </head>

    <body onload="loaded();">
    </body>

</html>
