{% csrf_token %}
<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      
      
      
      >

    <body>
        <ui:composition template="./../template/default.xhtml">
            <ui:define name="content">
                <script>
                    function loaded() {
                        setHeader("Event Resource Edit");
                    }
                </script>
                {% if test="#{Authorizerauthorize(AuthorizerRESOURCE_UPDATE_EVENT)}">
                    <h:form>
                        <table>
                            <th>${eventResourceBean.title()}</th>
                            <tr>
                                <td>
                                    <label for="resourceNum" value="Number Used: "/>
                                </td>
                                <td>
                                    <h:selectOneMenu 
                                        onchange=""
                                        id="resourceNum"
                                        value="#{eventResourceBean.resourceUsage}"
                                        styleClass="forJSF">
                                        <f:selectItems 
                                            value="#{eventResourceBean.skillCounts}" 
                                            var="sc"
                                            itemLabel="#{sc.displayString}" 
                                            itemValue="#{sc.num}" />
                                    </h:selectOneMenu>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p:commandButton 
                                        styleClass="reset-style"
                                        value="Save"
                                        action="#{eventResourceBean.update()}"/>
                                    <p:commandButton 
                                        styleClass="reset-style"
                                        value="Remove All"
                                        action="#{eventResourceBean.delete()}"/>
                                    <p:commandButton 
                                        styleClass="reset-style"
                                        value="Cancel"
                                        action="#{eventResourceBean.cancel()}"/>
                                </td>
                            </tr>
                            <vscomp:updateError 
                                bean="#{eventResourceBean}"
                                colspan="9"/>
                        </table>
                    </h:form>
                {% endif %}
            </ui:define>
        </ui:composition>
    </body>
</html>
