{% csrf_token %}
<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      
      
      
      
      >

    <body>
        <ui:composition template="./../template/default.xhtml">
            <ui:define name="content">
                <script>
                    function loaded() {
                        setHeader("Location Edit");
                    }
                </script>
                {% if test="#{Authorizerauthorize(AuthorizerRESOURCE_UPDATE_LOCATION)}">
                    <table cellpadding="5" width="100%">
                        <h:form>
                            <tr>
                                <td class="label"><label for="name"
                                                                 rendered="true"
                                                                 value="Name:"/></td>
                                <td>
                                    <input type='text' id="name"
                                                 size="30"
                                                 maxlength="#{locationDetailsBean.locationNameMaxLength}"
                                                 value="#{locationDetailsBean.name}"
                                                 required="true"
                                                 requiredMessage="You must supply a name"/>
                                </td></tr>
                            <tr>
                                <td class="label">&nbsp;</td>
                                <td>
                                    <p:commandButton 
                                        styleClass="reset-style"
                                        value="Save"
                                        action="#{locationDetailsBean.submit}"/>&nbsp;
                                    {% if test="#{Authorizerauthorize(AuthorizerRESOURCE_DELETE_LOCATION)}">
                                        <p:commandButton 
                                            styleClass="reset-style"
                                            value="Delete"
                                            action="#{locationDetailsBean.delete}"/>&nbsp;
                                    {% endif %}
                                    <p:commandButton 
                                        styleClass="reset-style"
                                        value="Cancel"
                                        action="#{locationDetailsBean.cancel()}"/>
                                </td></tr>
                            <vscomp:updateError 
                                bean="#{locationDetailsBean}"
                                colspan="2"/>
                        </h:form>
                    </table>
                {% endif %}
            </ui:define>

        </ui:composition>

    </body>
</html>
