{% csrf_token %}
<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      
      >
    <body>
        <ui:composition template="./../template/default.xhtml">
            <ui:define name="content">
                <script>
                    function loaded() {
                        setHeader("Move left");
                    }
                </script>
                <h:form>
                    <h:commandButton 
                        id="redrectButton"
                        styleClass="forJSF"
                        action="#{homeBean.redirect()}" 
                        value="Redirect"/>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
