{% csrf_token %}
<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      
      
      >
    <h:head>
        <title>Volunteer Scheduler</title>
        <h:outputStylesheet library="css" name="volsched.css"/>
    </h:head>
    <body>
        <table align="center">
            <tr><td class="header" align="center">
                    <h4 class="Header">Volunteer Scheduler</h4></td></tr>
            <tr><td class="body">
                    <h3>Change Password</h3>
                    <table cellpadding="5" width="100%">
                        <h:form>
                            <tr>
                                <td class="label"><label for="newPwd"
                                                                 rendered="true"
                                                                 value="New Password:"/></td>
                                <td>
                                    <h:inputSecret id="newPwd"
                                                   size="10"
                                                   maxlength="#{passwordChangeBean.maxPwdLength}"
                                                   value="#{passwordChangeBean.newPassword}"
                                                   required="false"/>
                                </td></tr>
                            <tr>
                                <td class="label"><label for="verifyPwd"
                                                                 rendered="true"
                                                                 value="Verify Password:"/></td>
                                <td>
                                    <h:inputSecret id="verifyPwd"
                                                   size="10"
                                                   maxlength="#{passwordChangeBean.maxPwdLength}"
                                                   value="#{passwordChangeBean.verifyPassword}"
                                                   required="false"/>
                                </td></tr>
                            <tr>
                                <td class="label"><label for="password"
                                                                 rendered="true"
                                                                 value="Old Password:"/></td>
                                <td>
                                    <h:inputSecret id="password"
                                                   size="10"
                                                   maxlength="#{loginBean.maxPasswordLength}"
                                                   value="#{passwordChangeBean.password}"
                                                   required="false"/>
                                </td></tr>
                            <tr>
                                <td class="label"><label for="secret"
                                                                 rendered="true"
                                                                 value="Secret:"/></td>
                                <td>
                                    <h:inputSecret id="secret"
                                                   size="10"
                                                   maxlength="#{loginBean.maxSecretLength}"
                                                   value="#{passwordChangeBean.secret}"
                                                   required="false"/>
                                </td></tr>
                            {% if test="#{passwordChangeBean.error}">
                                <tr>
                                    <td colspan="2">
                                        <h:outputText 
                                            rendered="#{passwordChangeBean.error}"
                                            escape="false"
                                            value="#{passwordChangeBean.errorMessage}"/>
                                    </td>
                                </tr>
                            {% endif %}
                            <tr><td colspan="2">
                                    <p:commandButton 
                                        styleClass="reset-style"
                                        value="Change" 
                                        action="#{passwordChangeBean.submit()}"/>&nbsp;
                                    <p:commandButton 
                                        styleClass="reset-style"
                                        value="Cancel" 
                                        action="#{passwordChangeBean.cancel()}"/>
                                </td></tr>
                        </h:form>

                        <tr>
                            <td colspan="2">
                                <h:outputText 
                                    rendered="#{loginBean.error}"
                                    value="#{loginBean.errorMessage}"/>
                            </td>
                        </tr>

                        <tr>
                            <td width="40%">&nbsp;</td>
                            <td align="right">
                                <a 
                                    href="#{helpBean.webapp}/volsched/help/passwordChange.xhtml" 
                                    title="Password Change Page Help">Help</a>
                            </td>
                        </tr>
                    </table></td></tr>
            <tr><td class="footer">
                    <hr/>
                </td></tr>
        </table>
    </h:body>
</html>

