{% csrf_token %}
<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      
      
      
      
      >

    <body>

        <ui:composition template="./../template/default.xhtml">
            <ui:define name="content">
                <script>
                    function loaded() {
                        setHeader("Validate Relationships");
                    }
                </script>
                {% if test="#{Authorizerauthorize(AuthorizerRESOURCE_VALIDATE_RELATIONSHIP)}">
                    <h:form>
                        <table align="center">
                            <th colspan="2" align="center"><h2>Validate Relationships</h2></th>
                            <tr>
                                <td>
                                    <p:commandButton 
                                        styleClass="reset-style"
                                        value="Validate"
                                        action="#{relationshipValidationBean.validate()}"/>
                                </td>
                                <td>
                                    <p:commandButton 
                                        styleClass="reset-style"
                                        value="cancel"
                                        action="/volsched/pages/utilities?faces-redirect=true"/>
                                </td>
                            </tr>
                            <vscomp:updateError 
                                bean="#{relationshipValidationBean}"
                                colspan="2"/>
                        </table>
                    </h:form>
                {% endif %}
            </ui:define>

        </ui:composition>

    </body>
</html>
