{% csrf_token %}
<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      
      
      
      >

    <body>
        <ui:composition template="./../template/default.xhtml">
            <ui:define name="content">
                <script>
                    function loaded() {
                        setHeader("Volunteer Relationship Search");
                    }
                </script>
                <h:form>
                    <table align="center">
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p:commandButton 
                                        styleClass="reset-style"
                                    value="Cancel"
                                    action="#{volunteerReltionshipSearchBean.cancel()}"/>
                            </td>
                        </tr>
                    </table>
                </h:form>
                <Table align="center">
                    <tr>
                        {% if test="#{Authorizerauthorize(AuthorizerRESOURCE_DELETE_RELATIONSHIP)}">
                            <td align="center" valign="top">
                                <h:outputText 
                                    value="#{volunteerReltionshipSearchBean.deleteTable()}"
                                    escape="false"/>
                            </td>
                        {% endif %}
                        {% if test="#{Authorizerauthorize(AuthorizerRESOURCE_ADD_RELATIONSHIP)}">
                            <td align="center" valign="top">
                                <h:outputText 
                                    value="#{volunteerReltionshipSearchBean.availableTable()}"
                                    escape="false"/>
                            </td>
                        {% endif %}
                    </tr>
                </Table>
            </ui:define>
        </ui:composition>
    </body>
</html>
